.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.recommenders/
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.factorypath
.target
.tern-project
.texlipse
.springBeans
.cache-main
.scala_dependencies
.worksheet
.project
.classpath
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rzr
hs_err_pid*